				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer class="text-center">
			<p class="">Copyright  &copy;2017</p>
			<p class="">Get inspiration text messages daily from <a href="subscribe.html">Inspire Me</a> </p>
			<p class="text-primary footer-links">
				<a href="about.html">About</a>
				<a href="sitemap.html">Site-map</a>
				<a href="terms.html">Terms of service</a>
				<a href="contact.html">Contact us</a>
				<a href="contribute.html">Contribute</a>
			</p>
			<p>Design by: <a href="http://www.joenyugoh.co.ke">Joe N Ngigi</a></p>

		</footer>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
	</body>
</html>