<div class="container-fluid">
	<div class="row">
		<div class="hidden-sm col-md-3 col-lg-3" style="padding-top: 15px;border-right: 3px solid #ddd;background-color: #eee;">
			<div class="list-group">
				<h3 class="list-group-item active">
					<span class="glyphicon glyphicon-comment"></span>
					  Quotes menu
				</h3>
				<a href="" class="list-group-item">
					New Quote<span style="font-size: 16px; color:orange;" class="pull-right glyphicon glyphicon-new-window"></span>
				</a>
				<a href="" class="list-group-item">
					Edit Quote<span style="font-size: 16px; color:orange;" class="pull-right glyphicon glyphicon-edit"></span>
				</a>
				<a href="" class="list-group-item">
					Delete Quote<span style="font-size: 16px; color:orange;" class="pull-right glyphicon glyphicon-trash"></span>
				</a>
				<a href="" class="list-group-item">
					Pause Quote<span style="font-size: 16px; color:orange;" class="pull-right glyphicon glyphicon-pause"></span>
				</a>
			</div>

			<div class="list-group">
				<h3 class="list-group-item active">
					<span class="glyphicon glyphicon-pushpin"></span>
					  Articles menu
				</h3>
				<a href="" class="list-group-item">
					New Article<span style="font-size: 16px; color:orange;" class="pull-right glyphicon glyphicon-new-window"></span>
				</a>
				<a href="" class="list-group-item">
					Edit Article<span style="font-size: 16px; color:orange;" class="pull-right glyphicon glyphicon-edit"></span>
				</a>
				<a href="" class="list-group-item">
					Delete Article<span style="font-size: 16px; color:orange;" class="pull-right glyphicon glyphicon-trash"></span>
				</a>
				<a href="" class="list-group-item">
					Pause Article<span style="font-size: 16px; color:orange;" class="pull-right glyphicon glyphicon-pause"></span>
				</a>
			</div>

			<div class="list-group">
				<h3 class="list-group-item active">
					<span class="glyphicon glyphicon-cog"></span>
					  Site Analytics 
				</h3>
				<a href="" class="list-group-item">
					Total Visitors
					<span style="color:orange; font-size:16px;" class="pull-right glyphicon glyphicon-signal"></span>
				</a>
				<a href="" class="list-group-item">
					Page Shares
					<span style="color:orange; font-size:16px;" class="pull-right glyphicon glyphicon-share"></span>
				</a>
				<a href="" class="list-group-item">
					Statistics
					<span style="color:orange; font-size:16px;" class="pull-right glyphicon glyphicon-stats"></span>
				</a>
				<a href="" class="list-group-item">
					Contributors
					<span style="color:orange; font-size:16px;" class="pull-right glyphicon glyphicon-user"></span>
				</a>
				<a href="" class="list-group-item">
					Super-Admin
					<span style="color:orange; font-size:16px;" class="pull-right glyphicon glyphicon-user"></span>
				</a>
			</div>
		</div>
		<div class="col-md-9 col-lg-9">
			<?php require 'edit-quotes.php'; ?>
		</div>
	</div>
</div>
